body {
	background: grey;
}
/* .articles {
      border:  3px solid lightslategray;
  }
   */
.news {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    border: 5px lightgray
  } 
.news img {vertical-align: middle;}

.news .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
  }

 news.a.content:hover, news.a.content:active {font-size: 150%;}
 
.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color:white;

}