<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    
	<link th:href="@{/css/home.css}" rel="stylesheet" />    
	
  </head>

  <body>
  	<div class="container">
  		<div id="cluster-map"></div>
		<h1 class = "text-center">Coronavirus Tracker Application</h1>  
		
		
		<!-- th:text="${totalReportedCases} -->
		<div class="p-5 mb-5 bg-light">
		  <div class="container py-5">
		    <h1 class="display-h2" th:text="${totalReportedCases}"></h1>
		    <p class="lead">Total cases reported as of today</p>
		    <hr class= "my-4">
		    <p> 
		    	<span>New cases reported since previous day: </span>
		    	<span th:text="${totalNewCases}"></span>
		    </p>
		  </div>
		</div>
	
	
		<table class="table">
	      <tr>
	        <th>State</th>
	        <th>Country</th>
	        <th>Total cases reported</th>
	        <th>Changes since last day</th>
	      </tr>
	      <tr th:each="locationStat : ${locationStats}">
	        <td th:text="${locationStat.state}"></td>
	        <td th:text="${locationStat.country}"></td>
	        <td th:text="${locationStat.latestTotalCases}">0</td>
	        <td th:text="${locationStat.diffFromPrevDay}">0</td>
	      </tr>
    	</table>
	</div>
	
  <script th:inline="javascript">
	 /*<![CDATA[*/
	
	  const rawData = /*[[${locationStats}]]*/
	  console.log(rawData);
	  console.log(rawData[0].longitude);
	  for(var i = 0; i < rawData.length; i++) {
		  rawData[i].geometry = {
				  type: "Point",
				  coordinates: [
					  rawData[i].longitude,
					  rawData[i].latitude,
	              ]
		  }
	  };
	  const locInfo = { features: rawData} ;
	  console.log(locInfo);
	  
	  
	  mapboxgl.accessToken = 'pk.eyJ1IjoiamE4NDEwMTQiLCJhIjoiY2tqMW1mdGt3MXB3czJxbW93c3BnbXc4eCJ9.e0Qv-1x8O2cwDbiAtBbzNg';
	  var map = new mapboxgl.Map({
	  	container: 'cluster-map',
	  	style: 'mapbox://styles/mapbox/dark-v10',
	  	center: [-103.59179687498357, 40.66995747013945],
	  	zoom: 3
	  });

	  /* var totalCases1 = ['<', ['get', 'latestTotalCases'], 10000];
	  var totalCases2 = ['all', ['>=', ['get', 'latestTotalCases'], 10000], ['<', ['get', 'latestTotalCases'], 50000]];
	  var totalCases3 = ['all', ['>=', ['get', 'latestTotalCases'], 50000], ['<', ['get', 'latestTotalCases'], 100000]];
	  var totalCases4 = ['all', ['>=', ['get', 'latestTotalCases'], 100000], ['<', ['get', 'latestTotalCases'], 5000000]];
	  var totalCases5 = ['>=', ['get', 'latestTotalCases'], 5000000];
	  var colors = ['#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c']; */
	   
	  map.on('load', function() {
	  	// Add a new source from our GeoJSON data and
	  	// set the 'cluster' option to true. GL-JS will
	  	// add the point_count property to your source data.
	  	map.addSource('locInfos', {
	  		type: 'geojson',
	  		// Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
	  		// from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
	  		data: locInfo,
	  		cluster: true,
	  		clusterMaxZoom: 14, // Max zoom to cluster points on
	  		clusterRadius: 50, // Radius of each cluster when clustering points (defaults to 50)
	  		/* clusterProperties: {
	  			'totalCases1': ['+', ['case', totalCases1, 1, 0]],
	  			'totalCases2': ['+', ['case', totalCases2, 1, 0]],
	  			'totalCases3': ['+', ['case', totalCases3, 1, 0]],
	  			'totalCases4': ['+', ['case', totalCases4, 1, 0]],
	  			'totalCases5': ['+', ['case', totalCases5, 1, 0]]
	  		} */
	  	});

	  	map.addLayer({
	  		id: 'clusters',
	  		type: 'circle',
	  		source: 'locInfos',
	  		filter: ['has', 'point_count'],
	  		paint: {
	  			// Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
	  			// with three steps to implement three types of circles:
	  			//   * Blue, 20px circles when point count is less than 100
	  			//   * Yellow, 30px circles when point count is between 100 and 750
	  			//   * Pink, 40px circles when point count is greater than or equal to 750
	  			'circle-color': [
	  				'step',
	  				['get', 'point_count'],
	  				'#51bbd6',
	  				100,
	  				'#f1f075',
	  				750,
	  				'#f28cb1'
	  			],
	  			'circle-radius': [
	  				'step',
	  				['get', 'point_count'],
	  				20,
	  				100,
	  				30,
	  				750,
	  				40
	  			]
	  		}
	  	});

	  	map.addLayer({
	  		id: 'cluster-count',
	  		type: 'symbol',
	  		source: 'locInfos',
	  		filter: ['has', 'point_count'],
	  		layout: {
	  			'text-field': '{point_count_abbreviated}',
	  			'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
	  			'text-size': 12
	  		}
	  	});

	  	map.addLayer({
	  		id: 'unclustered-point',
	  		type: 'circle',
	  		source: 'locInfos',
	  		filter: ['!', ['has', 'point_count']],
	  		paint: {
	  			'circle-color': '#11b4da',
	  			'circle-radius': 4,
	  			'circle-stroke-width': 1,
	  			'circle-stroke-color': '#fff'
	  		}
	  	});

	  	// inspect a cluster on click
	  	map.on('click', 'clusters', function(e) {
	  		var features = map.queryRenderedFeatures(e.point, {
	  			layers: ['clusters']
	  		});
	  		var clusterId = features[0].properties.cluster_id;
	  		map.getSource('locInfos').getClusterExpansionZoom(
	  			clusterId,
	  			function(err, zoom) {
	  				if (err) return;

	  				map.easeTo({
	  					center: features[0].geometry.coordinates,
	  					zoom: zoom
	  				});
	  			}
	  		);
	  	});

	  	// When a click event occurs on a feature in
	  	// the unclustered-point layer, open a popup at
	  	// the location of the feature, with
	  	// description HTML from its properties.
	  	map.on('click', 'unclustered-point', function(e) {
	  		var coordinates = e.features[0].geometry.coordinates.slice();
	  		var mag = e.features[0].properties.mag;
	  		var tsunami;

	  		if (e.features[0].properties.tsunami === 1) {
	  			tsunami = 'yes';
	  		} else {
	  			tsunami = 'no';
	  		}

	  		// Ensure that if the map is zoomed out such that
	  		// multiple copies of the feature are visible, the
	  		// popup appears over the copy being pointed to.
	  		while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
	  			coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
	  		}

	  		new mapboxgl.Popup()
	  			.setLngLat(coordinates)
	  			.setHTML(
	  				'magnitude: ' + mag + '<br>Was there a tsunami?: ' + tsunami
	  			)
	  			.addTo(map);
	  	});

	  	map.on('mouseenter', 'clusters', function() {
	  		map.getCanvas().style.cursor = 'pointer';
	  	});
	  	map.on('mouseleave', 'clusters', function() {
	  		map.getCanvas().style.cursor = '';
	  	});
	  });
	  
	  
	  
	
	/*]]>*/
  	
  </script>
  
  
  </body>

</html>


